.ReviewList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px;
}

.ReviewList p {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .ReviewList {
    display: block;
  }
}

.ReviewCard {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  display: inline-block;
  height: 400px;
  width: 450px;
  vertical-align: top;
}

.ReviewCard img {
  width: 150px;
  height: 150px;
  position: relative;
  align-items: center;
}

.ReviewCard h2 {
  font-size: 1rem;
  margin: 0;
  padding: 20px;
  position: relative;
}

.ReviewCard p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0 20px 20px;
}

@media (max-width: 767px) {
  .ReviewCard {
    margin: 20px auto;
    width: calc(50%);
    height: calc(50%);
    display: block;
  }
  .ReviewCard h2 p {
    font-size: smaller;
    padding: 0px;
  }
  .ReviewCard img {
    width: 200px;
    height: 200px;
  }
}

.Review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.Review h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Review p {
  font-size: 16px;
  margin: 10px 0;
}

.Review img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}
